.App{
  display: flex;
  justify-content: center;
  height: 100vh;
  background-color: #E8E8E8;
}
.main-container{
  background-color: white;
  width: 450px;
  border-radius: 15px;
  -webkit-box-shadow: 0 0 10px #626262;
        box-shadow: 0 0 10px #626262;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 7px;
}
.ET{
  text-align: center;
  font-weight: 700;
  font-size: 22px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-bottom: 15px;
}
.YB{
  -webkit-box-shadow: 0 0 10px #626262;
        box-shadow: 0 0 10px #626262;
  font-family:courier,arial,helvetica;
  padding-left: 5px;
  font-weight: bold;
  max-width: 400px;
  margin: auto;
  min-height: 45px;
  padding-top: 8px;
  border-radius: 5px;
}
.in-ex{
  border: black 2px solid;
  max-width: 300px;
  margin: auto;
}
.In{
  border: black 2px solid;
  max-width: 150px;
}
.Ex{
  border: black 2px solid;
  max-width: 150px;
}